<AuthorizeView>
    <Authorized>
            <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
            <form method="post" action="/identity/Account/logout">
                <button type="submit" class="nav-link btn btn-link">
                    Log out
                </button>
            </form>
    </Authorized>
    <NotAuthorized>
            <a class="btn btn-outline-primary" href="/identity/login">Login</a>
            <a class="btn btn-outline-primary" href="/identity/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>