@inherits LayoutComponentBase
<PageTitle>InvoiceApplication</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <LoginDisplay></LoginDisplay>
            
        </div>
        <article class="content px-4">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <p>Nothing to show, please Login or Register new account</p>
                    <a class="btn btn-outline-primary" href="/identity/login">Login</a>
                    <a class="btn btn-outline-primary" href="/identity/Register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </article>
    </main>
</div>
