@inject IVatRateService VatService

<h3>Vat</h3>
<QuickGrid Items="_vats.AsQueryable()">
    <PropertyColumn Property="@(v=>v.Rate.ToString() + "%")" Title="stawka Vat"></PropertyColumn>
</QuickGrid>


@code {

    List<VatRate> _vats = new List<VatRate>();
    protected override async Task OnInitializedAsync()
    {
        _vats =await VatService.GetVatRatesAsync();
    }
}
